{{! image, name, description, tagline, food pairing and brewer tips. }}
<div><div><img src='{{image_url}}' alt='beer-img' /></div>
  <div><h3>{{name}}</h3>
    <h4>{{description}}</h4>
    <p>{{tagline}}</p>
    <h3>{{food_pairing}}</h3>
    <h4>{{brewer_tips}}</h4></div>
</div>